header.header
    .container
        .logo.header-logo
            img(src="assets/img/logo.png" alt="logo")
        .header-nav
            div.sandwich
            div.overlay
                nav.overlay-menu
                    ul.overlay-menu__list
                        li.overlay-menu__item
                            a(href="#" data-link="#home").overlay-menu__link Home
                        li.overlay-menu__item
                            a(href="#" data-link="#section-item-1").overlay-menu__link Item 1
                        li.overlay-menu__item
                            a(href="#" data-link="#section-item-2").overlay-menu__link Item 2
                        li.overlay-menu__item
                            a(href="#" data-link="#section-item-3").overlay-menu__link Item 3
                        li.overlay-menu__item
                            a(href="#" data-link="#section-item-4").overlay-menu__link Item 4
