section.section#home
    p Секция просто для фона
section.section#section-item-1
    p item1
section.section#section-item-2
    p item2
section.section#section-item-3
    p item 3
section.section#section-item-4
    p item 4