extends ./_template.pug

block title
    title home work 05 - about

block h1
    h1(id="up") About

block navigation
    -
        var paragraphs = [
            {
                id: "par-1",
                header: "Paragraph 1",
                content: "Имеет никакого отношения к обитателям водоемов вопросы, связанные. Использовать в xvi веке именно из его трактата. Собственные варианты текста сыграет на кириллице значительно различается связанные с языками. Вывод, что такое текст-рыба или иные буквы встречаются с использованием lorem возникнуть. Использующими латинский алфавит, могут возникнуть. Конечно, возникают некоторые вопросы, связанные. Латыни и проектах, ориентированных на руку при оценке качества."
            },
            {
                id: "par-2",
                header: "Paragraph 2",
                content: "Такого текста на том языке, который планируется использовать. Фразы и на название, не имеет никакого отношения к обитателям водоемов. Исключительно демонстрационная, то и. Встречаются с разной частотой, имеется разница. Контент – написание символов на кириллический контент – написание символов. Конечно, возникают некоторые вопросы связанные. Получить более длинный неповторяющийся набор слов. нечитабельность текста на название. Нести совсем необязательно наиболее распространенных слов широко используемый и."
            },
            {
                id: "par-3",
                header: "Paragraph 3",
                content: "Использовать в книгопечатании еще в длине наиболее распространенных слов вопросы связанные. Более длинный неповторяющийся набор слов. использованием lorem вывод, что впервые его трактата. Знаменитый lorem текстом является знаменитый lorem появлением lorem зла средневековый. Собственные варианты текста на руку при запуске проекта трактата. Имеется разница в различных языках. Чему появляется возможность получить более длинный неповторяющийся набор слов. отсюда. Отступов и даже с использованием lorem ipsum обязан древнеримскому философу."
            },
            {
                id: "par-4",
                header: "Paragraph 4",
                content: "Возникают некоторые вопросы, связанные с разной частотой имеется. Что все же лучше использовать. О пределах добра и проектах, ориентированных на сайтах. Считается, что такое текст-рыба такое текст-рыба используется он веб-дизайнерами. Напрашивается вывод, что такое текст-рыба частотой, имеется разница в качестве рыбы. Зла средневековый книгопечатник вырвал отдельные фразы и слова, получив текст-рыбу. Знаменитый lorem появляется возможность получить более того."
            },
            {
                id: "par-5",
                header: "Paragraph 5",
                content: "Трактата о пределах добра и на том языке, который планируется. Имеет никакого отношения к обитателям водоемов – написание символов. Абзацев, отступов и проектах, ориентированных на название, не имеет никакого отношения. Длинный неповторяющийся набор слов. неповторяющийся набор слов. есть специальные. Возможность получить более длинный неповторяющийся набор слов.. Что все же лучше использовать при оценке качества. Фразы и слова, получив текст-рыбу, широко используемый и даже."
            },
            {
                id: "par-6",
                header: "Paragraph 6",
                content: "Текста сыграет на кириллице значительно различается собственные варианты. С языками, использующими латинский алфавит. Существует несколько вариантов lorem ipsum обязан древнеримскому. Ведь именно из его применили в книгопечатании еще в качестве. Каждый веб-разработчик знает, что все же лучше использовать при запуске проекта. Впервые его трактата о пределах добра и слова, получив текст-рыбу широко. Такого текста исключительно демонстрационная, то и по сей день то и."
            },
            {
                id: "other",
                header: "Other",
                content: "Певчей птицы, кроме вороны листовки.в чемоданах с мороза него была белая мошонка. Неприступная как очутился на сенатскую площадь семейных трусах и в клетке сидит. Безухова в лодке быстро греб. Находится кудрявый хвостик, по полю, слегка попахивая составляет квадратных человека. Яиц, сбивая с благодарностью виляя хвостом прошли. Вершит дела на лбу наташа. Пар ног выкопал яму под её лица пьера безухова в лодке. По полю, слегка попахивая медвежонка измята, и стал грызть. Четырьмя ногами по которому их отличают от других домашних. Взвыл от боли гордая и на уши лапшу. лоси. Луч солнца и поняли: здесь была маша форточку ворвался сквозняк. Рембрант стоял под лестницей квадратных человека на стене висели фрукты. Из под лестницей тучи выглянул луч солнца и поняли. Ходит с дочерью мензурку большую потенцию и взвыл. Забрался и задушило дездемону глаза с изображением натюрморта грызть дерево. Вершит дела на двор. Друга ни натурой, очень любила природу и жену. Красное знамя, по моде женщина, а на груди. Двух яиц, сбивая с нежностью смотрели друг на стене висели фрукты. Разложил ольгу на диване. Засунул в одном из сочинения: живописца поразила поза её лица. Её кружевного фартука было тихо, как перевозили революционеры. Стихотворение написано в лесу зимой не только вершит дела на кота."
            }
        ];
    each par in paragraphs
        a(href='#' + par.id)= par.header
        = " "


block content
    each par in paragraphs
        include ./_paragraph.pug

block footer
    a(href="./index.html") Go home