extends ./_template.pug

block head
    title home 123

block body
    - 
        var names = ['Максим', 'Аня', 'Вася'];
    each name in names
        div(id=name)=name

    a(href="./about.html") about

    -
        var paragraphs = [
            {
                id: 'p1',
                header: 'Paragraph 1',
                content: 'То и по сей день знаменитый lorem ipsum. Получить более того, есть специальные генераторы, создающие собственные варианты текста исключительно демонстрационная. Зла средневековый книгопечатник вырвал отдельные фразы и зла средневековый книгопечатник. Демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и демонстрации внешнего. Знает, что впервые его применили в длине наиболее распространенных слов этот несмотря. Качестве рыбы текст на интернет-страницы и даже с языками, использующими латинский.'
            },
            {
                id: 'p2',
                header: 'Paragraph 2',
                content: 'То и по сей день знаменитый lorem ipsum. Получить более того, есть специальные генераторы, создающие собственные варианты текста исключительно демонстрационная. Зла средневековый книгопечатник вырвал отдельные фразы и зла средневековый книгопечатник. Демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и демонстрации внешнего. Знает, что впервые его применили в длине наиболее распространенных слов этот несмотря. Качестве рыбы текст на интернет-страницы и даже с языками, использующими латинский.'
            },
            {
                id: 'p3',
                header: 'Paragraph 3',
                content: 'То и по сей день знаменитый lorem ipsum. Получить более того, есть специальные генераторы, создающие собственные варианты текста исключительно демонстрационная. Зла средневековый книгопечатник вырвал отдельные фразы и зла средневековый книгопечатник. Демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и демонстрации внешнего. Знает, что впервые его применили в длине наиболее распространенных слов этот несмотря. Качестве рыбы текст на интернет-страницы и даже с языками, использующими латинский.'
            },
            {
                id: 'p4',
                header: 'Paragraph 4',
                content: 'То и по сей день знаменитый lorem ipsum. Получить более того, есть специальные генераторы, создающие собственные варианты текста исключительно демонстрационная. Зла средневековый книгопечатник вырвал отдельные фразы и зла средневековый книгопечатник. Демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и демонстрации внешнего. Знает, что впервые его применили в длине наиболее распространенных слов этот несмотря. Качестве рыбы текст на интернет-страницы и даже с языками, использующими латинский.'
            },
            {
                id: 'p5',
                header: 'Paragraph 5',
                content: 'То и по сей день знаменитый lorem ipsum. Получить более того, есть специальные генераторы, создающие собственные варианты текста исключительно демонстрационная. Зла средневековый книгопечатник вырвал отдельные фразы и зла средневековый книгопечатник. Демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и демонстрации внешнего. Знает, что впервые его применили в длине наиболее распространенных слов этот несмотря. Качестве рыбы текст на интернет-страницы и даже с языками, использующими латинский.'
            },
            {
                id: 'p6',
                header: 'Paragraph 6',
                content: 'То и по сей день знаменитый lorem ipsum. Получить более того, есть специальные генераторы, создающие собственные варианты текста исключительно демонстрационная. Зла средневековый книгопечатник вырвал отдельные фразы и зла средневековый книгопечатник. Демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и демонстрации внешнего. Знает, что впервые его применили в длине наиболее распространенных слов этот несмотря. Качестве рыбы текст на интернет-страницы и даже с языками, использующими латинский.'
            }
        ];

    each paragraph in paragraphs
        a(href='#' + paragraph.id)= paragraph.header

    each paragraph in paragraphs
        include ./_paragraph.pug
        hr

    each paragraph in paragraphs
        a(href='#' + paragraph.id)= paragraph.header
