ul.header-nav__list
    li.header-nav__item
        a(href="#").header-nav__link Главная
    li.header-nav__item
        a(href="#").header-nav__link Услуги
    li.header-nav__item
        a(href="#").header-nav__link Портфолио
    li.header-nav__item
        a(href="#").header-nav__link Стоимость
    li.header-nav__item
        a(href="#").header-nav__link Наша команда
    li.header-nav__item
        a(href="#").header-nav__link Площадка-партнер
    li.header-nav__item
        a(href="#").header-nav__link Отзывы
    li.header-nav__item
        a(href="#").header-nav__link Не свадебные проекты
    li.header-nav__item
        a(href="#").header-nav__link Контакты